/* You can add global styles to this file, and also import other style files */

:root {
	--rp-base: #191724;
	--rp-surface: #1f1d2e;
	--rp-overlay: #26233a;
	--rp-muted: #6e6a86;
	--rp-subtle: #908caa;
	--rp-text: #e0def4;
	--rp-love: #eb6f92;
	--rp-gold: #f6c177;
	--rp-rose: #ebbcba;
	--rp-pine: #31748f;
	--rp-foam: #9ccfd8;
	--rp-iris: #c4a7e7;
	--rp-highlight-low: #21202e;
	--rp-highlight-med: #403d52;
	--rp-highlight-high: #524f67;
}


body  {
    background-color: var(--rp-base);
    /* color: var(--rp-text); */
    color: var(--rp-rose);
}

hr {
    height: 0;
    border: 0.01rem solid var(--rp-muted);
    opacity: 0.7;
}

button {
    background-color: var(--rp-rose);
    color: var(--rp-base);
    outline: none;
    border: none;
	border-radius: 0.3rem;
	transition: 200ms;
	padding: 0.4rem 0.8rem;
}

button:hover {
    background-color: var(--rp-love);
    box-shadow: 0 0 0.5rem var(--rp-love);
}


a {
    color: var(--rp-love);
    font-weight: bold;
}

a:hover {
	text-shadow: 0 0 0.4rem var(--rp-love);
}

.placeholder {
	background-color: var(--rp-base);
}

.emoji-no-bg {
	color: transparent;  
	text-shadow: 0 0 0 var(--rp-rose);
}

.ngx-toastr {
	color: var(--rp-rose);
	background-color: var(--rp-overlay) !important; 
	box-shadow: none !important;
	border-radius: 10px !important;
	border-left-width: 7px !important;
	background-image: none !important;
	padding-left: 15px !important;
}

.toast-info {
	border-left: solid var(--rp-rose) !important;
	color: var(--rp-rose) !important;
}

.toast-error {
	border-left: solid var(--rp-love) !important;
	color: var(--rp-rose) !important;
}

.toast-success {
	border-left: solid var(--rp-pine) !important;
	color: var(--rp-rose) !important;
}

.toast-close-button:hover {
	box-shadow: none !important;
	color: red;
}
