<div
    class="review d-flex flex-row my-3 mx-2 p-3"
>
    <div
        class="d-flex flex-column me-3"
    >
        <button
            [ngClass]="reviewAndVote.vote == Vote.UP ? 'voted' : 'not-voted'"
            class="vote-button"
            (click)="voteReview(Vote.UP)"
        >
            ▲
        </button>

        <span class="align-self-center"> {{ reviewAndVote.review.upvotes }} </span>

        <button
            [ngClass]="reviewAndVote.vote == Vote.DOWN ? 'voted' : 'not-voted'"
            class="vote-button"
            (click)="voteReview(Vote.DOWN)" >
            ▼
        </button>
    </div>

    <div class="d-flex flex-column gap-1 w-100 fw-bold">
        <div class="fs-5">
            {{ reviewAndVote.review.reviewerName }}
        </div>

        <div id="review-rating" class="fs-6">
            {{ reviewAndVote.review.rating }}/10
        </div>

        <div id="review-content" class="rounded p-2">
            {{ reviewAndVote.review.content }}
        </div>
    </div>
</div>
