<h1 class="w-100 text-center">Register</h1>
<hr>

<form
    [formGroup]="form"
    class="d-flex mt-5 gap-2 align-items-center justify-content-center flex-column"
>
    <input type="text" formControlName="username" placeholder="username">

    <input type="password" formControlName="password" placeholder="assword">
    <input type="email" formControlName="email" placeholder="email">

    <button (click)="register()">Register</button>
</form>

<div id="error-message-container" class="d-flex flex-column align-items-center justify-content-center">
    <hr>
    <span
        *ngFor="let error of errors"
        [ngClass]="error.control.touched && error.control.invalid ? 'show-animated' : 'hide-animated'"
        class="error-message"
    >
        {{ error.message }}
    </span>
</div>