<main class="mx-auto border p-2">
    <h1 class="w-100 text-center">Home</h1>
    <h2 class="w-100 text-center">Random cocktails</h2>

    <app-cocktail-card-list [cocktails]="randomCocktails" />

    <hr>

    <h3 class="w-100 text-center">Search Cocktails</h3>

    <div>
        <label
            *ngFor="let filterType of filterTypes"
            (click)="reset()"
        >
            <input type="radio"
                type="radio"
                [value]="filterType"
                [(ngModel)]="selectedFilterType"
            >
            {{ CocktailSearchType[filterType] }}
        </label>
    </div>

    <form name="searchForm">
        <input
            *ngIf="selectedFilterType == CocktailSearchType.Name; else showDropdownFilters"
            type="text"
            class="form-control text-center"
            id="search-by-name-input"
            name="filterType"
            [value]="searchQuery"
            [(ngModel)]="searchQuery"
        />

        <ng-template #showDropdownFilters>
            <select
                [value]="searchQuery"
                [(ngModel)]="searchQuery"
                name="dropdown-filter"
            >
                <option *ngFor="let val of dropdownFilters.get(selectedFilterType)">
                    {{ val }}
                </option>
            </select>
        </ng-template>

        <button
            (click)="searchCocktails(selectedFilterType, searchQuery)"
            class="btn btn-secondary"
        >
            Search
        </button>

        <div class="d-flex flex-row justify-content-around flex-wrap" >
            <span
                *ngFor="let c of letters"
                class="letter-filter mx-2"
                (click)="searchCocktails(CocktailSearchType.FirstLetter, c)"
            >
                {{ c }}
            </span>
        </div>
    </form>

    <app-cocktail-card-list [cocktails]="cocktails" />
</main>