h1 {
    margin-bottom: 5rem;
}

.letter-filter {
    font-size: 1.3rem;
    cursor: pointer;
}

.filter-type-radio:checked + .filter-type-label {
    color: rgb(72, 72, 192);
}

.filter-type-label {
    font-size: x-large;
}

.sticky-top {
    top: 0.5rem;
}