<main class="mx-auto border p-2">
    <h1 class="w-100 text-center">Home</h1>
    <h2 class="w-100 text-center">Random cocktails</h2>

    <div class="
        random-cocktails
        d-flex flex-wrap justify-content-md-center justify-content-around
        gap-2
    "
    >
        <app-cocktail-card *ngFor="let cocktail of randomCocktails" [cocktail]="cocktail" />
    </div>

    <hr>

    <h3 class="w-100 text-center">Search Cocktails</h3>

    <div>
        <label
            *ngFor="let filterType of filterTypes"
            (click)="reset()"
        >
            <input type="radio"
                type="radio"
                [value]="filterType"
                [(ngModel)]="selectedFilterType"
            >
            {{ CocktailSearchType[filterType] }}
        </label>
    </div>

    <form name="searchForm">
        <input
            *ngIf="selectedFilterType == CocktailSearchType.Name"
            type="text"
            class="form-control text-center"
            id="search-by-name-input"
            name="filterType"
            [value]="searchQuery"
            [(ngModel)]="searchQuery"
        />

        <select
            *ngIf="selectedFilterType == CocktailSearchType.Ingredient"
            id="select-ingredient"
            name="ingredient-filter"

            [value]="searchQuery"
            [(ngModel)]="searchQuery"
        >
            <option *ngFor="let i of ingredients" [value]="i">{{i}}</option>
        </select>

        <select
            *ngIf="selectedFilterType == CocktailSearchType.Category"
            id="select-category"
            name="category-filter"
            
            [value]="searchQuery"
            [(ngModel)]="searchQuery"
        >
            <option *ngFor="let c of categories" [value]="c">{{c}}</option>
        </select>

        <select
            *ngIf="selectedFilterType == CocktailSearchType.Glass"
            id="select-category"
            name="glass-filter"

            [value]="searchQuery"
            [(ngModel)]="searchQuery"
        >
            <option *ngFor="let g of glasses" [value]="g">{{g}}</option>
        </select>

        <button
            (click)="searchCocktails(selectedFilterType, searchQuery)"
            class="btn btn-secondary"
        >
            Search by {{ CocktailSearchType[selectedFilterType] }}
        </button>

        <div
            class="d-flex flex-row justify-content-around flex-wrap"
        >
            <span
                *ngFor="let c of letters"
                class="letter-filter mx-2"
                (click)="searchCocktails(CocktailSearchType.FirstLetter, c)"
            >
                {{ c }}
            </span>
        </div>
    </form>

    <div class="
        random-cocktails
        d-flex flex-wrap justify-content-md-center justify-content-around
        gap-2
    "
    >
        <app-cocktail-card *ngFor="let cocktail of cocktails" [cocktail]="cocktail" />
    </div>

</main>