<div
    id="message-container"
    class="d-flex justify-content-center align-items-center"
>
    <div
        id="message"
        class="rounded-3 d-flex gap-0 justify-content-center align-items-center m-1"
        [class.p-3]="!showRickRoll"
        [class.p-md-5]="!showRickRoll"
        [class.big]="showRickRoll"
    >
        <h3 *ngIf="!showRickRoll">API ded, <a href="#" (click)="roll()">try again?</a></h3>
            <img
                class="w-100 h-100 rounded-2"
                *ngIf="showRickRoll"
                src="https://media.tenor.com/fhO9ZvaVfwAAAAAC/rickroll.gif"
            >
    </div>
</div>